@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }
}

@layer utilities {
  .bg-grid {
    background-image: radial-gradient(rgba(59, 130, 246, 0.18) 1px, transparent 1px);
    background-size: 18px 18px;
  }
}
